/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Common styles */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
    font-weight: normal;
}

hr {
    border: 1px solid #c6c8ce;
    width: 78%;
}
.container {
    /* width: 90%; */
    /* width: 1160px; */
    width: 1160px;
    margin: 0 auto;

}

/* header styles */

header {
    background-color: #2D25A0;
    background-attachment: fixed;
    width: 100%;
    height: 670px;
} 


.banner-section {
    display: flex;
    padding-top: 135px;
}

header .container {
    padding-left: 56px;
}

.banner-text {
   width: 45%;
}

.banner-title {
    font-size: 64px;
    color: #FFFFFF;
}

.banner-text a {
    font-weight: 500;
    font-size: 16px;
    background-color: #E02C6D;
    display: inline-block;
    text-align: center;
    width: 168px;
    height: 40px;
    padding-top: 10px;
    /* padding: 10px 24px; */
}

.banner-text a:hover {
    background-color: #e02c6ebe;
}

.fa-arrow-right {
    margin-left: 8px;
}

.banner-image {
    width: 55%;
    display: flex;
    justify-content: center;
}

.banner-image img {
    width: 556px;
    height: 438px;
    transition: transform 1s ease-in;
}

.banner-image:hover img {
    transform: scale(1.1) rotate(360deg);
}
/* main section styles */

/* players list styles */
main .players-list {
    padding: 70px 0;
    /* padding-left: 80px;
    padding-right: 80px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px; 
    grid-column-gap: 30px;
    width: 1050px;
}
.player {
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player .player-image {
    width: 300px;
    height:256px
}

.player-info {
    margin-top: 16px;
}
.player-info h2.player-name {
    font-size: 28px;
    color: #18191F;
    margin: 0;
}

.player-info p.player-detail {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    padding-bottom: 2px;
}

/* latest highlits section styles */
.latest-highlights {
    display: flex;
    /* grid-template-columns: 2fr repeat(2, 1fr); */
    padding-top: 70px;
}

.higlights-info {
    padding: 0 38px;
    position: relative;
    top:70px;
}

.higlights-info button {
    padding: 10px 20px;
    border: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    margin-top: 10px;
}
.highlights {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px ;
}

.highlight-content h3{
    width: 300px;
    overflow: hidden;
    font-weight: 500;
}

/* news section styles */
.top-news {
    padding-top: 60px;
}
#news-title {
    text-align: center;
    margin-bottom: 40px;
}
.all-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
}

article.news {
    display: flex;
    align-items: center;
    padding-left: 38px;
}
.thumbnail img {
    width: 300px;
    height: 205px;
    border-radius: 5px;
}

.news-info {
    margin-left: 10px;
}

.news-info p {
    color: #6C6C6C;
}
/* footer section styles */

.footer-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 63px 0;
}

.footer-part img {
    width: 483px;
    height: 110px;
}

.social-links {
    margin: 20px 0;
}
.social-links>a {
    background-color: rgba(11, 13, 23, 0.103);
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 14px;
}

.social-links a i {
    color:  #969BAB;
    width: 17px;
    height: 17px;
    padding: 7px;
    box-sizing: content-box;
    text-align: center;
}

.footer-part p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

/* media query */

/* mobile devices screen */

@media only screen and (max-width: 688px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
        position: relative;
    }
        .container  {
        width: 100%;

    }
    header {
        width: 100%;
    }
    header .container {
        padding: 0;
    }

    .banner-section {
        flex-direction: column;
        padding-top: 112px;
    }

    .banner-text {
        width: 100%;
        margin-bottom: 50px;
        margin-left: 10%;
    }

    .banner-text h1 {
        font-size: 36px;
    }
    .banner-image {
        width: 100%;
    }
    .banner-image img {
        width: 329px;
        height: 259px;
    }

    main>.players-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 8%;
    }



    .latest-highlights {
        flex-direction: column;
        padding: 0;
    }

    .higlights-info {
        position: relative;
        top: 0;
    }

    .highlights {
        grid-template-columns: repeat(1, 1fr);
        margin: 5% 10%;
    }

    .all-news {
        grid-template-columns: repeat(1, 1fr);
    }
    
    article.news {
        flex-direction: column;
        padding: 0;
    }

    .news-info {
        width: 80%;
    }
    .news-info h3 {
        margin-bottom: 0;
    }
    .news-info p{
        margin: 0;
        font-size: 14px;
    }

    #footer-image img {
        max-width: 70%;
        margin-left: 5%;
    }

}

/* tablet devices */
@media only screen and (min-width:688px) and (max-width:991px) {
    .container  {
        width: 100%;

    }
    header {
        width: 100%;
    }
    header .container {
        padding-top: 30%;
    }

    .banner-section {
        display: flex;
        align-items: center;
    } 

    .banner-text {
        width: 100%;
        margin-bottom: 50px;
        margin-left: 10%;
    }

    .banner-text h1 {
        font-size: 36px;
    }
    .banner-image {
        width: 80%;
    }
    .banner-image img {
        width: 329px;
        height: 259px;
    }

    main .players-list {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 8%;
    }

    .all-news {
        grid-template-columns: repeat(1, 1fr);
    }
    
    article.news {
        flex-direction: column;
        padding: 0;
    }

    .news-info {
        width: 80%;
        text-align: center;
    }
    .news-info h3 {
        margin-bottom: 0;
    }
    .news-info p{
        margin: 0;
        font-size: 14px;
    }

    .latest-highlights {
        flex-direction: column;
        padding: 0;
    }

    .higlights-info {
        position: relative;
        top: 0;
    }

    .highlights {
        margin-top: 20px;
        margin-left: 50px;
    }
}